.order-text {
  border: 1px groove white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sip-toplam {
}

.sip-toplam h5 {
  font-size: 1vw;
}

.sip {
  font-size: 2rem;
}

.sip h6 {
  font-size: 1vw;
}

@media (max-width: 768px) {
  .sip-toplam h5 {
    font-size: 3vw;
  }

  .sip h6 {
    font-size: 3vw;
  }
}
