.order-text {
  border: 1px groove white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sip-toplam {
}

.sip-toplam h5 {
  font-size: 1vw;
}

.sip {
}

.sip h6 {
  font-size: 1vw;
}
