main {
  width: 100vw;
  height: 100vh;
  background-color: #ce2829;
  font-family: 'Roboto Condensed';
  display: flex;
  flex-direction: column;
  flex: auto;
}

.success {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.succes-logo {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
}

.success img {
  padding-top: 70px;
}

.text {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  font-family: 'Roboto Condensed';
  color: #ffffff;
}

.order-info {
  font-family: 'Barlow';
  width: 20vw;
}

.order-info h2 {
  font-size: 15px;
  line-height: 50px;
  text-align: center;
}

.order-info h6 {
  font-size: 12px;
  line-height: 25px;
  font-weight: 100;
  text-align: center;
  padding-right: 15px;
}

.order-total {
  width: 20vw;
  height: 15vh;
}
