.allPage {
  margin-bottom: 100px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2vw;
  margin: 0 auto;
  background-color: white;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.iconLink {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  text-decoration: none;
  font-family: 'Barlow';
  font-size: 1vw;
  color: black;
}

.iconImg {
  width: 2.8vw;
}

.card {
  padding-top: 3vw;
  display: flex;
  height: auto;
  gap: 0.3vw;
  width: 55vw;
  margin: 0 auto;
  position: relative;
}

.leftCard,
.rightCard {
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 0.5vw;
}

.card1,
.card2,
.card3 {
  height: 100%;
  border-radius: 0.5rem;
}

.leftCardText {
  position: absolute;
  color: white;
  width: 15vw;
  height: auto;
  padding: 2vw 1vw;
  line-height: 4vw;
  row-gap: 2vw;
}

.leftCardText p {
  font-family: 'Quattrocento';
  font-size: 3vw;
  font-weight: bold;
}

.orderButton {
  width: 7vw;
  height: 3vw;
  font-size: 0.7vw;
  border-radius: 2vw;
  color: red;
  font-family: 'Barlow';
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: white;
}

.rightCardTop,
.rightCardBot {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 11vw;
  height: 7vw;
  margin: 13vw 1vw;
  row-gap: 0.7vw;
}

.rightCardTop {
  margin: 1vw;
}

.rightCardTop p {
  font-size: 1.8vw;
  color: white;
  font-family: 'Barlow';
  text-align: left;
  font-weight: bold;
}

.rightCardBot p {
  color: black;
  font-size: 1.7vw;
  font-family: 'Barlow';
  text-align: left;
  font-weight: bold;
}

.highlight {
  color: red;
}

.menuSlogan {
  justify-content: center;
  text-align: center;
  margin: 2vw 0;
  width: 100%;
}

.slogan2 {
  font-family: 'Barlow';
  font-weight: bold;
  font-size: 2vw;
}

.slogan2 span {
  font-family: 'Satisfy';
  font-weight: lighter;
}

.pizzaMenu {
  background-color: #faf7f2;
  width: 55vw;
  margin: 0 auto;
}

.pizzaNav {
  display: flex;
  justify-content: center;
  gap: 1vw;
  background-color: #faf7f2;
}

.pizzaLink {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  text-decoration: none;
  font-family: 'Barlow';
  font-size: 0.7vw;
  color: black;
  background-color: white;
  border-radius: 5vw;
  padding: 0.3vw 1vw;
  margin: 1vw 0;
}

.pizzaIcon {
  width: 2vw;
}

.activePizza {
  background-color: #292929;
  color: white;
}

.pizzaCard {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 22vw;
}

.pizzaCard img {
  width: 80%;
  height: auto;
  margin: 2vw auto;
}

.pizzaCard1,
.pizzaCard2,
.pizzaCard3 {
  width: 17vw;
  height: auto;
  background-color: white;
}

.pizzaText {
  display: flex;
  justify-content: left;
  font-size: 1.2vw;
  font-family: 'Barlow';
  font-weight: bold;
  margin: 0.5vw 1vw;
}

.price {
  display: flex;
  justify-content: space-between;
  font-family: 'Barlow';
  font-size: 1vw;
  margin: 0 1vw;
}

.price span {
  color: black;
  font-weight: bold;
}

@media (max-width: 768px) {
  .allPage {
  }

  .menu {
    width: 100vw;
    height: 15vh;
  }

  .icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 15vh;
    padding: 2vw 0;
    row-gap: 2.4vw;
  }

  .iconLink {
    width: 40%;
    height: 20%;
    justify-content: left;
    align-items: center;
    font-size: 3vw;
    gap: 2vw;
  }

  .iconImg {
    width: 4vw;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .card {
    flex-direction: column;
    width: 100vw;
    height: auto;
    align-items: center;
  }

  .leftCard {
    width: 60%;
    height: auto;
  }

  .leftCardText {
    width: 50vw;
    height: 20vh;
  }

  .leftCardText p {
    font-size: 10vw;
    line-height: 10vw;
    padding-top: 3vw;
    padding-left: 2vw;
  }

  .orderButton {
    width: 25vw;
    height: 5vh;
    font-size: 3vw;
    border-radius: 5vw;
  }

  .rightCard {
    width: 60%;
    height: auto;
  }

  .rightCardTop,
  .rightCardBot {
    width: 30vw;
  }

  .rightCardBot {
    margin-top: 30vw;
  }

  .rightCardTop p,
  .rightCardBot p {
    font-size: 4vw;
  }

  .highlight {
    color: black;
    font-weight: bold;
  }

  .menuSlogan {
    width: 60vw;
    height: auto;
    margin: 0 auto;
  }

  .slogan2 p {
    font-size: 5vw;
  }

  .slogan2Bot {
    font-size: 8vw;
  }

  .pizzaMenu {
    background-color: #faf7f2;
    width: 60vw;
    margin: 0 auto;
  }

  .pizzaNav {
    display: flex;
    flex-wrap: wrap;
  }

  .pizzaLink {
    width: 40%;
    height: 20%;
    font-size: 3vw;
    justify-content: left;
    align-items: center;
  }

  .pizzaIcon {
    width: 4vw;
    height: auto;
  }

  .activePizza {
    background-color: #292929;
    color: white;
  }

  .pizzaCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .pizzaImage {
    width: 100%;
    margin: 2vw auto;
  }

  .pizzaCard1,
  .pizzaCard2,
  .pizzaCard3 {
    width: 100%;
    height: auto;
  }

  .pizzaText {
    display: flex;
    justify-content: left;
    font-size: 4vw;
    font-family: 'Barlow';
    font-weight: bold;
    margin: 0.5vw 1vw;
  }

  .price {
    display: flex;
    justify-content: space-between;
    font-family: 'Barlow';
    font-size: 3vw;
    margin: 0 1vw;
  }

  .price span {
    color: black;
    font-weight: bold;
  }
}
