header {
  background-color: #ce2829;
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100vw;
  height: 80%;
}

header img {
  width: 20vw;
  height: auto;
}

.nav {
  width: 50vw;
  height: auto;
}

@media (max-width: 768px) {
  .logo img {
    width: 80vw;
    height: auto;
  }
}
