footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1a1a1a;
}

.main-top {
  display: flex;
  margin: 5vw 20vw;
  height: 20vw;
}

.left-side {
  color: white;
  width: 30vw;
  height: auto;
}

.left-side img {
  width: 60%;
  height: auto;
  margin-bottom: 20%;
}

.left-side ul,
.mid ul {
  margin: 0;
  padding: 0;
}

.left-side li {
  display: flex;
  justify-content: left;
  align-items: center;
  line-height: 1.3vw;
  list-style: none;
  font-family: 'Barlow';
  font-size: 1.2vw;
  margin: 1vw 0;
}

.left-side li img {
  width: 1.5vw;
  height: auto;
  margin: 0vw 1vw;
}

.mid {
  color: white;
  width: 30vw;
  font-family: 'Barlow';
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 10%;
  margin-top: 10%;
  gap: 1vw;
}

.mid p {
  font-size: 1.5vw;
}

.mid li {
  list-style: none;
  font-size: 1vw;
  line-height: 2.5vw;
}

.right-side {
  color: white;
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-around;
  text-align: start;
}

.right-text {
  font-family: 'Barlow';
  font-size: 2vw;
}

.insta-img {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5vw;
}

.insta-img img {
  width: 30%;
}

.main-bottom {
  display: flex;
  color: white;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  font-family: 'Barlow';
  font-size: 0.7vw;
  border-top: 0.1px solid #5f5f5f;
  height: 5vw;
}
